@keyframes colorchange1 {
  0% { background: white }
  100% { background: green }
}

@keyframes colorchange2 {
  0% { background: white }
  100% { background: yellow }
}

@keyframes colorchange3 {
  0% { background: yellow }
  100% { background: red }
}

div#flashbody{
	position: relative;
	margin: 5;
	padding: 0;
	border: 6px solid green;
}

.flashbase {}

.flash {
	animation-name: Flash;
	animation: colorchange1 1s;
//	animation-duration: 0.4s;
//	animation-timing-function: linear;
	animation-iteration-count: 2;
//	animation-direction: normal;
}


